*.core
*.tar.gz
core.*
__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/
.idea/
.trt_cache/
_bak*
*.bak*
*_bak*
logs/
models/
models_*/
gfpgan/
output/
temp/
output*.txt
Video_Enhancement_github_token.txt
